banned-ips.json
banned-players.json
config.sqlite3
eula.txt
level.dat
level.dat_old
config.sqlite3
ops.json
server.jar
server.properties
session.lock
usercache.json
whitelist.json
__pycache__/console_operations.cpython-312.pyc
__pycache__/console_thread.cpython-312.pyc
__pycache__/init_gui.cpython-312.pyc
__pycache__/main_gui.cpython-312.pyc
__pycache__/properties_gui.cpython-312.pyc
__pycache__/server_info.cpython-312.pyc
data/villages_end.dat
data/villages_nether.dat
data/villages.dat
logs/latest.log
region/r.-1.0.mca
region/r.0.0.mca
config.sqlite3
